<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/zephyr/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/navbar.css">
    <title data-layout-title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">ADMIN PANEL</title>



</head>
<body>
<header>
    <nav>
        <!-- Admin Logo -->
        <!-- Admin Tabs: Users | Products | Items | Libraries | Borrow/Reserve | Login/Logout -->
    </nav>
</header>

<!--Main content-->
<main layout:fragment="content"></main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>