<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/zephyr/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Navbar -->
<div th:replace="~{user/fragments/main-navbar.html :: main-navbar}"></div>

<!-- General Product Info -->
<div class="container mt-4">
    <h4>General info</h4>
    <p th:text="'Title: ' + ${productInfoDTO.title}"></p>
    <p th:text="'Id: ' + ${productInfoDTO.id}"></p>
    <p th:text="'Type: ' + ${productInfoDTO.productType}"></p>
    <p th:text="'Release: ' + ${productInfoDTO.releaseYear}"></p>
    <p th:text="'Photo: ' + ${productInfoDTO.photo}"></p>
    <p th:text="'Description: ' + ${productInfoDTO.description}"></p>
    <p th:text="'Link: ' + ${productInfoDTO.productLinkToEmedia}"></p>
</div>

<!-- Book details section -->
<div class="container mt-4" th:if="${bookDetailsDTO != null}">
    <h4>Book Details</h4>
    <p th:text="'ISBN: ' + ${bookDetailsDTO.isbn}"></p>
    <p th:text="'Edition: ' + ${bookDetailsDTO.edition}"></p>
    <p th:text="'Pages: ' + ${bookDetailsDTO.pages}"></p>
</div>

<!-- Creators section -->
<div class="container mt-4" th:if="${productInfoDTO.creators.size() > 0}">
    <h4>Creators</h4>
    <ul th:each="creatorWithRoleDTO : ${productInfoDTO.creators}">
        <li th:text="${creatorWithRoleDTO.role}
        + ': '+ ${creatorWithRoleDTO.firstName}
        + ' ' + ${creatorWithRoleDTO.lastName}"></li>
    </ul>
</div>

<!-- Locations section -->
<div class="container mt-4" th:if="${locationAndItemStatusDTOs.size() > 0}">
    <h4>Locations</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">District</th>
            <th scope="col">Library</th>
            <th scope="col">Location in library</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="locationAndItemStatusDTO, stat : ${locationAndItemStatusDTOs}">
            <td th:text="${stat.index} + 1">1</td>
            <td th:text="${locationAndItemStatusDTO.district}">District</td>
            <td th:text="${locationAndItemStatusDTO.libraryName}">Library name</td>
            <td th:text="${locationAndItemStatusDTO.locationInLibrary()}">Location in library</td>
            <td th:switch="${locationAndItemStatusDTO.itemStatus}">
                <span th:case="'available'" class="badge bg-success fs-6">Available</span>
                <span th:case="'borrowed'" class="badge bg-danger fs-6">Borrowed</span>
                <span th:case="'reserved'" class="badge bg-warning fs-6">Reserved</span>
            </td>
            <td>
                <!-- TODO: Button to borrow item, add logic that hides this button if user is not logged in-->
                <a class="btn btn-sm btn-primary"
                   data-bs-target="#loginModal"
                   data-bs-toggle="modal"
                   sec:authorize="isAnonymous()">Login and borrow</a>
                <a class="btn btn-sm btn-primary"
                   th:href="@{/borrow}"
                   sec:authorize="isAuthenticated()">Borrow or reserve</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modals -->
<div th:replace="~{user/fragments/user-login-modal :: #loginModal}"></div>

<!-- Footer -->
<footer th:replace="~{user/fragments/footer.html :: footer}" class="mt-auto"></footer>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>