<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/zephyr/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<div th:replace="~{user/fragments/user-navbar.html :: user-navbar}"></div>

<main class="container mt-5">
    <h2 class="text-center">Search products</h2>

    <form th:action="@{/search}" method="GET">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" name="title" placeholder="">
            <label for="title" class="form-label">Enter title of the product</label>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</main>

<!-- Modals -->
<div th:replace="~{user/fragments/user-login-modal :: #loginModal}"></div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>