<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/zephyr/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<div th:replace="~{user/fragments/main-navbar.html :: main-navbar}"></div>

<!-- pagination  TODO: Maybe put it into fragment-->
<div class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item" th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
            <a class="page-link"
               th:href="@{/search(page=${page.number - 1}, title=${title})}">Previous</a>
        </li>

        <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
            th:classappend="${page.number == i} ? 'active'">
            <a class="page-link"
               th:href="@{/search(page=${i}, title=${title})}"
               th:text="${i + 1}">1</a>
        </li>

        <li class="page-item" th:classappend="${page.hasNext()} ? '' : 'disabled'">
            <a class="page-link"
               th:href="@{/search(page=${page.number + 1}, title=${title})}">Next</a>
        </li>
    </ul>
</div>

<div th:each="productDTO : ${productDTOs}" class="d-flex justify-content-center mb-4">
    <div th:replace="~{user/fragments/product-card :: card(${productDTO})}"></div>
</div>

<!-- Modals -->
<div th:replace="~{user/fragments/user-login-modal :: #loginModal}"></div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>