<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/public-layout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>VÖBB | Product Details</title>
</head>
<body>

<main layout:fragment="content">
  <!-- General Product Info -->
  <div class="container mt-4">
    <div class="card shadow-sm p-4">
      
      <section class="py-3 px-2 border-bottom mx-3">
        <div class="row gx-5">
          
          <div class="col-md-5 text-center">
            <div class="border rounded d-flex align-items-center justify-content-center mx-auto"
                 style="height: 240px; max-width: 200px;">
              <img th:src="${productInfoDTO.photo}"
                   alt="Cover Photo Preview"
                   class="img-fluid"
                   style="max-height: 220px; object-fit: contain;"
                   th:attr="onerror='this.onerror=null; this.src=\'' + ${productInfoDTO.defaultPhoto} + '\';'"/>
            </div>
          </div>
          
          <div class="col-md-7">
            <h5 class="fw-semibold text-muted small mb-4">General Info</h5>
            
            <div class="mb-2"><strong>Product Type:</strong>
              <span class="text-muted small" th:text="${productInfoDTO.productType}">—</span></div>
            <div class="mb-2"><strong>Title:</strong>
              <span class="text-muted small" th:text="${productInfoDTO.title}">—</span></div>
            <div class="mb-2"><strong>Release Year:</strong>
              <span class="text-muted small" th:text="${productInfoDTO.releaseYear}">—</span></div>
            <div class="mb-2"><strong>Description:</strong>
              <span class="text-muted small" th:text="${productInfoDTO.description}">—</span></div>
            <div class="mb-2" th:if="${productInfoDTO.productLinkToEmedia}">
              <strong>Product Link (eMedia):</strong>
              <a th:href="${productInfoDTO.productLinkToEmedia}"
                 th:text="${productInfoDTO.productLinkToEmedia}"
                 class="text-muted small text-decoration-underline"
                 target="_blank" rel="noopener noreferrer">
              </a>
            </div>
          </div>
        
        </div>
      </section>
      
      <section class="py-3 px-2 border-bottom mx-3" th:if="${bookDetailsDTO != null}">
        <h5 class="mb-3 fw-semibold text-muted small">Book Details</h5>
        <div class="row gx-4">
          <div class="col-md-4"><strong>ISBN:</strong>
            <span class="text-muted small" th:text="${bookDetailsDTO.isbn}">—</span></div>
          <div class="col-md-4"><strong>Edition:</strong>
            <span class="text-muted small" th:text="${bookDetailsDTO.edition}">—</span></div>
          <div class="col-md-4"><strong>Pages:</strong>
            <span class="text-muted small" th:text="${bookDetailsDTO.pages}">—</span></div>
        </div>
      </section>
      
      <section class="py-2 px-2 border-bottom m-3" th:if="${productInfoDTO.creators.size() > 0}">
        <h5 class="mb-3 fw-semibold text-muted small">Creators</h5>
        <div class="d-flex flex-wrap gap-2 ps-4 small">
          <ul class="mb-0">
            <li th:each="creator : ${productInfoDTO.creators}"
                th:text="${creator.role} + ': ' + ${creator.firstName} + ' ' + ${creator.lastName}"></li>
          </ul>
        </div>
      </section>
      
      <section class="py-2 px-2 mx-3">
        <div class="row gx-4">
          <div class="col-md-6" th:if="${productInfoDTO.countries != null and !productInfoDTO.countries.isEmpty()}">
            <strong class="small text-muted">Countries</strong>
            <div class="d-flex flex-wrap gap-2 mt-2 ps-4 small">
              <ul class="mb-0">
                <li th:each="country : ${productInfoDTO.countries}" th:text="${country}"></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6" th:if="${productInfoDTO.languages != null and !productInfoDTO.languages.isEmpty()}">
            <strong class="small text-muted">Languages</strong>
            <div class="d-flex flex-wrap gap-2 mt-2 ps-4 small">
              <ul class="mb-0">
                <li th:each="language : ${productInfoDTO.languages}" th:text="${language}"></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    
    </div>
  </div>
  
  <!-- Locations section -->
  <div class="container mt-4 mb-4" th:if="${locationAndItemStatusDTOs.size() > 0}">
    <h4 class="ms-1">Locations</h4>
    <div class="table-responsive border rounded shadow-sm mb-0">
      <table class="table table-hover align-middle mb-0">
        <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">District</th>
          <th scope="col">Library</th>
          <th scope="col">Location in library</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="locationAndItemStatusDTO : ${locationAndItemStatusDTOs}">
          <td th:switch="${locationAndItemStatusDTO.itemStatus}">
            <i th:case="'available'" class="bi bi-check-circle fs-4 text-success" data-bs-toggle="tooltip"
               data-bs-placement="left"
               title="This item is available. U can reserve it and pick up from library"></i>
            <i th:case="'borrowed'" class="bi bi-exclamation-circle fs-4 text-warning" data-bs-toggle="tooltip"
               data-bs-placement="left"
               title="This item is borrowed. U can't reserve or borrow it now"></i>
            <i th:case="'reserved'" class="bi bi-exclamation-circle fs-4 text-warning" data-bs-toggle="tooltip"
               data-bs-placement="left"
               title="This item is reserved. U can't reserve or borrow it now"></i>
            <i th:case="'damaged'" class="bi bi-x-circle fs-4 text-danger" data-bs-toggle="tooltip"
               data-bs-placement="left"
               title="This item is damaged."></i>
            <i th:case="'lost'" class="bi bi-x-circle fs-4 text-danger" data-bs-toggle="tooltip"
               data-bs-placement="left"
               title="This item is lost."></i>
          </td>
          <td th:text="${locationAndItemStatusDTO.district}">District</td>
          <td>
            <a th:href="@{/libraries/{id}(id=${locationAndItemStatusDTO.libraryId})}"
               th:text="${locationAndItemStatusDTO.libraryName}">
              Library Name
            </a>
          </td>
          <td th:text="${locationAndItemStatusDTO.locationInLibrary()}">Location in library</td>
          <td>
            <a class="btn btn-sm btn-primary"
               href="/login"
               sec:authorize="isAnonymous()">Login to reserve</a>
            
            <form sec:authorize="isAuthenticated()"
                  th:action="@{/reserve/{id}(id=${locationAndItemStatusDTO.itemId})}" method="post"
                  class="d-inline">
              <input type="hidden" name="productId" th:value="${productInfoDTO.id}"/>
              <span data-bs-toggle="tooltip">
                <button type="submit"
                        class="btn btn-sm btn-success me-1"
                        th:disabled="${!locationAndItemStatusDTO.itemStatus.equals('available')}">
                <i class="bi bi-clock me-1"></i> Reserve
              </button>
              </span>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
</body>
</html>