<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>VÖBB</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/zephyr/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/custom-style.css}">
  <title data-layout-title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body class="d-flex flex-column min-vh-100">

<header layout:fragment="header">
  <div class="bg-dark text-white py-1 text-center v-middle py-2" th:if="${borrowExpiresSoon}">
    <small>🔔 You have borrows that expires soon! Check your borrows in profile and return them at time. 🔔</small>
  </div>
  
  <div th:replace="~{public/fragments/main-navbar.html :: main-navbar}"></div>
</header>

<!--Main content-->
<div layout:fragment="content"></div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
     style="width: 300px">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Search filters</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-4">
    <label for="productTypeDropdown" class="form-label">Product Type</label>
    <div class="dropdown w-auto" id="productTypeDropdown">
      <button class="btn btn-secondary dropdown-toggle w-100 text-body dci-border-dark" type="button"
              id="productTypeDropdownButton"
              data-bs-toggle="dropdown" aria-expanded="false"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        All
      </button>
      <ul class="dropdown-menu mt-2 shadow-lg" aria-labelledby="productTypeDropdownButton"
          style="max-height: 200px; overflow-y: auto;">
        <li><a class="dropdown-item" data-value="" href="#">All</a></li>
        <li th:each="type : ${productTypes}">
          <a class="dropdown-item"
             th:text="${type.name}"
             th:attr="data-value=${type.id}"
             href="#"></a>
        </li>
      </ul>
    </div>
    
    <hr style="border: none; height: 1px; background-color: black;"/>
    
    <div>
      <label for="creatorInputSidebar" class="form-label">Creator</label>
      <input type="text" id="creatorInputSidebar" name="creator" class="form-control" th:value="${productFilters.author}">
    </div>
    
    <hr style="border: none; height: 1px; background-color: black;"/>
    
    <label for="languageDropdown" class="form-label">Product language</label>
    <div class="dropdown w-auto" id="languageDropdown">
      <button class="btn btn-secondary dropdown-toggle w-100 text-body dci-border-dark" type="button"
              id="languageDropdownButton"
              data-bs-toggle="dropdown" aria-expanded="false"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        All
      </button>
      <ul class="dropdown-menu mt-2 shadow-lg" aria-labelledby="languageDropdownButton"
          style="max-height: 200px; overflow-y: auto;">
        <li><a class="dropdown-item" data-value="">All</a></li>
        <li th:each="language : ${productLanguages}">
          <a class="dropdown-item"
             th:text="${language.name}"
             th:attr="data-value=${language.id}"></a>
        </li>
      </ul>
    </div>
    
    <hr style="border: none; height: 1px; background-color: black;"/>
    
    <label for="countryDropdown" class="form-label">Product country</label>
    <div class="dropdown w-auto" id="countryDropdown">
      <button class="btn btn-secondary dropdown-toggle w-100 text-body dci-border-dark" type="button"
              id="countryDropdownButton"
              data-bs-toggle="dropdown" aria-expanded="false"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        All
      </button>
      <ul class="dropdown-menu mt-2 shadow-lg" aria-labelledby="countryDropdownButton"
          style="max-height: 200px; overflow-y: auto;">
        <li><a class="dropdown-item" data-value="">All</a></li>
        <li th:each="country : ${productCountries}">
          <a class="dropdown-item"
             th:text="${country.name}"
             th:attr="data-value=${country.id}"></a>
        </li>
      </ul>
    </div>
    
    <hr style="border: none; height: 1px; background-color: black;"/>
    
    <button id="applyFiltersBtn" class="btn btn-primary w-100 m-1">Apply filters</button>
    <button id="resetFiltersBtn" class="btn btn-danger w-100 m-1">Reset filters</button>
  </div>
</div>

<!-- Footer -->
<footer class="mt-auto" th:replace="~{public/fragments/footer.html :: footer}"></footer>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/toggleTheme.js}"></script>
<script th:src="@{/js/product/synchronizeProductFiltersAndHiddenInput.js}"></script>


</body>
</html>
