<!--TODO: Change appearance with css-->
<!--Title, Author, year, locations button -->
<div class="card mb-3" th:fragment="card(productDTO)" style="width: 50rem;">
    <div class="card-header" th:text="'id: ' + ${productDTO.id}"></div>
    <div class="card-body">
        <a th:href="@{/products/{id}(id=${productDTO.id})}"
           style="text-decoration: none; color: inherit;">
            <h4 class="card-title" th:text="${productDTO.title}"></h4>
        </a>

        <p class="card-text" th:text="'productType: ' + ${productDTO.productType}"></p>
        <p class="card-text"
           th:text="${productDTO.mainCreator != null} ?
           'Author: ' + ${productDTO.mainCreator.firstName} + ' ' + ${productDTO.mainCreator.lastName} : ''"></p>

        <!-- Accordion -->
        <div class="accordion" th:id="'accordionProduct__' + ${productDTO.id}">
            <div class="accordion-item">
                <h2 class="accordion-header" th:id="'headerLibrary__' + ${productDTO.id}">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            th:data-bs-target="'#collapseLibrary__' + ${productDTO.id}"
                            th:aria-controls="'collapseLibrary__' + ${productDTO.id}"
                        th:text="'Available in ' + ${productDTO.locations.size()} + ' ' + (${productDTO.locations.size() == 1} ? 'library' : libraries)">
                        Locations
                    </button>
                </h2>
                <div class="accordion-collapse collapse"
                     th:id="'collapseLibrary__' + ${productDTO.id}"
                     th:attr="aria-labelledby='headerLibrary__' + ${productDTO.id}">
                    <div class="accordion-body">
                        <div th:each="location : ${productDTO.locations}">
                            <p th:text="'Location: ' + ${location.district} + ', ' + ${location.libraryName} + ', available items: ' + ${location.itemsCount}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

