body {
    background-color: #f8f9fa;
}

.carousel-wrapper,
.carousel-window,
.custom-carousel,
.carousel-track,
.card,
.card-title,
.card-text,
.card a,
.card-img-top,
.nav {
    transition:
            background-color 0.4s ease,
            color 0.4s ease,
            filter 0.4s ease,
            border-color 0.4s ease,
            box-shadow 0.4s ease,
            transform 0.25s ease;
}

.card-img-top {
    transition: filter 0.4s ease;
}

.content-section {
    padding: 0 2vw;
    max-width: 1200px;
    margin: 0 auto;
}

.text-wrapper {
    max-width: 60rem;
    margin: 3rem auto;
    padding: 1rem;
}

.carousel-wrapper,
.carousel-window,
.custom-carousel {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 auto;
}

.carousel-wrapper {
    position: relative;
    max-width: 60rem;
    margin: 3rem auto;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    overflow: hidden;
}

.carousel-window {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.custom-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    gap: 2rem;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 3rem;
    color: #004080;
    cursor: pointer;
    z-index: 10;

}

.nav.left {
    left: .5rem;
}

.nav.right {
    right: .5rem;
}

.carousel-track {
    display: flex;
    gap: 1rem;
    transition: transform 0.5s ease;
    padding: 0 1rem;
    will-change: transform;
    box-sizing: border-box;
    width: max-content;
    flex-wrap: nowrap;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 18rem;
    width: 18rem;
    margin:0;
    border: none;
    box-shadow: none;
    transition:
            transform 0.25s ease,
            background-color 0.25s ease;
    will-change: transform;
}

.card:hover {
    background-color: #b1bfcc;
    transform: translateY(-1px);
}

.card-title {
    color: #004080;
}

.card-text {
    color: #333333;
}

.card a {
    color: #0066cc;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}


/* DARK MODE */
[data-bs-theme="dark"] .carousel-wrapper {
    background-color: rgba(255, 255, 255, 0.05);
}

[data-bs-theme="dark"] .card {
    background-color: #242627;
    border: none;
}

[data-bs-theme="dark"] .card-text {
    color: #99a3a6;
}

[data-bs-theme="dark"] .card a {
    color: #4361ee;
}

[data-bs-theme="dark"] .card a:hover {
    color: #364fc7;
    text-decoration: underline;
}

[data-bs-theme="dark"] .card:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.nav {
    color: #4361ee;
    transition: color 0.8s ease-in-out;
}

.nav:hover {
    color: #364fc7;
}

[data-bs-theme="dark"] .card-img-top {
    filter: brightness(0.9);
}

