body[data-theme="light"] {
    background-color: #f8f9fa;
    --dropdown-toggle-background: #ffffff;
    --search-row-background: #e9ecef;
}

body[data-theme="dark"] {
    background-color: #242627;
    --dropdown-toggle-background: #242627;
    --dropdown-btn-border: 1px solid #777777;
    --search-row-background: #3a3a3a;
}

.search-row {
    background-color: var(--search-row-background);
    padding: 2rem 1.5rem;
}

.search-label {
    font-weight: 600;
    font-size: 0.9rem;
}

.btn-search {
    background-color: #4361ee;
    border: none;
}

.btn-search:hover {
    background-color: #364fc7;
}

.icon-flip {
    transform: scaleX(-1);
}

.btn-icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-right: 0.2rem;
    border: none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

.btn-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

body[data-theme="light"] .dropdown-item {
    color: #f1f3f5; !important;
}

.dci-border-dark {
    border: 1px solid #555555;
}

.dropdown-toggle {
    background-color: var(--dropdown-toggle-background) !important;
    border: var(--dropdown-btn-border);
}

.dropdown-toggle:hover {
    background-color: #0b5ed7 !important;
    color: #fff !important;
}

.offcanvas-body {
    background-color: var(--search-row-background);
}

.offcanvas-header {
    background-color: var(--search-row-background);
}