<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/public-layout}">
<head>
    <meta charset="UTF-8">
    <title>VOEBB</title>
</head>

<body>
<div layout:fragment="content" class="container mt-4">

    <h2 th:text="'Hello, '+ ${userUpdateDTO.firstName} + ' ' + ${userUpdateDTO.lastName}"></h2>

    <ul class="nav nav-tabs mb-4" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#info" aria-selected="true" role="tab"
               tabindex="-1">Info</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#changeInfo" aria-selected="false" role="tab">Change info</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#myBorrowings" aria-selected="false" role="tab">My borrowings</a>
        </li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="info" role="tabpanel">
            <div class="container mt-4">
                <h2>User info</h2>
                <p th:text="'Name:' + ${userUpdateDTO.firstName} + ' ' + ${userUpdateDTO.lastName}">full-name</p>
                <p th:text="'Email:' + ${userUpdateDTO.email}">Email</p>
                <p th:text="'Phone number: ' + ${userUpdateDTO.phoneNumber}">Phone number</p>
            </div>
            <div class="container mt-4">
                <h2>Membership info</h2>
                <p th:text="'Membership status: (add membership func)'"></p>
                <p th:text="'Active till: (add membership func)' "></p>
            </div>
            
        </div>
        <div class="tab-pane fade" id="changeInfo" role="tabpanel">
                <form th:action="@{/profile/edit}" th:object="${userUpdateDTO}" method="post" >
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" id="firstName" th:field="*{firstName}" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" th:field="*{lastName}" class="form-control" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" th:field="*{email}" class="form-control" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">New Phone Number</label>
                        <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" id="newPassword" th:field="*{newPassword}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Enter your old password to confirm changes</label>
                        <input type="password" id="oldPassword" th:field="*{oldPassword}" class="form-control" required>
                    </div>

                    <div class="btn-group mb-3 text-center" role="group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>

        </div>
        <div class="tab-pane fade" id="myBorrowings">
            <p>Add table with all borrowings/reservations here</p>
        </div>
    </div>
    
</div>
</body>
</html>