<div class="modal fade"
     id="createItemModal"
     tabindex="-1"
     aria-labelledby="createItemModalLabel"
     aria-hidden="true"
     th:fragment="createItemModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createItemModalLabel">Create Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Test Create Item Modal</p>
            </div>
        </div>
    </div>
</div>
