<li th:fragment="login-dropdown" class="nav-item">
  
  <a th:if="${!#authorization.expr('isAuthenticated()')}"
     class="nav-link d-flex text-light text-decoration-none align-items-center"
     data-bs-toggle="dropdown"
     aria-expanded="false"
     data-bs-display="static"
     href="#">
    <i class="bi bi-person-circle text-white fs-5"></i>
    <span class="ms-2 fw-semibold">Login</span>
  </a>
  
  <a th:if="${#authorization.expr('isAuthenticated()')}"
     class="nav-link d-flex text-light text-decoration-none align-items-center"
     role="button"
     data-bs-toggle="dropdown"
     aria-expanded="false"
     data-bs-display="static"
     href="#">
    <i class="bi bi-person-circle text-white fs-5"></i>
    <span class="ms-2 fw-semibold">Account</span>
  </a>
  
  <div th:replace="~{this :: login-dropdown-body}"></div>
</li>

<!-- Reusable Dropdown Body -->
<div th:fragment="login-dropdown-body">
  <div class="dropdown-menu dropdown-menu-end shadow-sm  m-2"
       style="width: 300px; background-color: #333333;" data-bs-auto-close="outside">
    
    <div th:if="${!#authorization.expr('isAuthenticated()')}">
      <div th:if="${loginError}" class="alert alert-danger" role="alert">
        <span th:text="${loginError}"></span>
      </div>
      
      <div class="p-4 rounded text-light">
        <form th:action="@{/login}" method="post">
          
          <input type="hidden" name="redirect" id="redirectInput"/>
          
          <div class="mb-3">
            <label for="usernameInput" class="form-label">Email or phone number</label>
            <input type="text" id="usernameInput" name="username" required
                   class="form-control bg-dark text-light dci-border-dark"
                   autocomplete="off">
          </div>
          
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control bg-dark text-light dci-border-dark"
                   name="password" id="loginPassword" minlength="8" required>
          </div>
          
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="remember-me" id="dropDownCheck">
            <label class="form-check-label" for="dropDownCheck">Remember me</label>
          </div>
          
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        
        <hr class="my-4 border-secondary">
        
        <div class="d-grid gap-2">
          <a class="btn btn-outline-secondary dci-border-dark text-light" href="/register">New around here? Sign up</a>
          <a class="btn btn-outline-secondary dci-border-dark text-light" href="/restore-password">Forgot password?</a>
        </div>
      </div>
    </div>
    
    <div th:if="${#authorization.expr('isAuthenticated()')}" class="container">
      <div class="rounded-3 p-2">
        
        <!-- Desktop: ADMIN -->
        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
           class="dropdown-item d-flex text-light align-items-center gap-2 rounded-2 px-3 py-2"
           href="/admin">
          <i class="bi bi-person-circle"></i> Admin Panel
        </a>
        
        <a th:if="${#authorization.expression('hasRole(''CLIENT'')')}"
           class="dropdown-item d-flex text-light align-items-center gap-2 rounded-2 px-3 py-2"
           href="/profile">
          <i class="bi bi-person-circle"></i> Profile
        </a>
        
        <!-- Desktop: CLIENT -->
        <form th:action="@{/logout}" method="post" class="m-0">
          <button class="dropdown-item d-flex text-light align-items-center gap-2 rounded-2 px-3 py-2 w-100"
                  type="submit">
            <i class="bi bi-box-arrow-right"></i> Logout
          </button>
        </form>
      
      </div>
    </div>
  </div>
  <script>
      document.getElementById('redirectInput').value = window.location.href;
  </script>
</div>
