<footer th:fragment="footer" class="footer mt-auto py-4 bg-dark border-top shadow-sm" data-bs-theme="dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-3 mb-md-0 d-flex align-items-center">
                <div class="me-2">
                    <span class="fs-5 fw-bold text-primary">VOEBB</span>
                </div>
                <span class="text-muted ms-2">Public Libraries of Berlin</span>
            </div>

            <div class="col-md-6 text-md-end text-muted small">
                <div>&copy; 2025 Association of Public Libraries of Berlin</div>
                <div>
                    Barrier-free library software by
                    <span class="fw-semibold">|a|S|tec|</span>
                    <span class="d-block d-md-inline ms-md-1">– Applied System Technology</span>
                </div>
            </div>
        </div>
    </div>
</footer>