<div th:fragment="main-navbar">
  <!-- Nav bar-->
  <div class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">VÖBB</a>
      
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-between mt-2 mt-lg-0" id="navbarContent" style="">
        <!-- Left nav -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/libraries" class="nav-link text-light fw-semibold">Libraries</a>
          </li>
        </ul>
        
        <!-- Right nav -->
        <ul class="navbar-nav ms-md-auto">
          <li class="nav-item">
            <a id="themeToggle" class="nav-link d-flex text-light text-decoration-none pl-0 align-items-center" aria-label="Toggle theme" href="#">
              <i id="themeIcon" class="bi text-white fs-5"></i>
              <span class="ms-2 fw-semibold d-lg-none">Toggle theme</span>
            </a>
          </li>
          
          <li th:replace="~{public/fragments/_login-modal :: login-dropdown}"></li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Search row -->
  <div class="search-row">
    <div class="container-fluid">
      <div class="container">
        <form class="row g-3 align-items-end" id="searchForm" method="GET" th:action="@{/search}"
              th:object="${productFilters}"
              onsubmit="return cleanForm(this)">
          
          <input id="creatorHidden" th:field="*{author}" type="hidden">
          <input id="productTypeHidden" th:field="*{productType}" type="hidden">
          <input id="languageHidden" th:field="*{languageId}" type="hidden">
          <input id="countryHidden" th:field="*{countryId}" type="hidden">
          
          <div class="col-12 col-md-4">
            <label class="form-label search-label" for="searchInput">Search</label>
            <input class="form-control" id="searchInput" placeholder="Search for a product" th:field="*{title}"
                   type="text"/>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-label search-label" for="librarySelect">Library</label>
            <select class="form-select" id="librarySelect" th:field="*{libraryId}">
              <option value="">All Libraries</option>
              <option th:each="entry : ${libraries}"
                      th:text="${entry.value}"
                      th:value="${entry.key}">
              </option>
            </select>
          </div>
          <div class="col-12 col-md-2 d-grid">
            <button class="btn btn-search text-white" type="submit">
              <i class="bi bi-search"></i> Search
            </button>
          </div>
          <div class="col-12 col-md-2 d-grid">
            <button class="btn btn-search text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample">
              <i class="bi bi-funnel"></i> Filters
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>