<div class="card hover-card" th:fragment="card(cardProductDTO)" style="width: 50rem;">
  <div  style="max-width: 50rem;">
    <div class="card-header">
      <a th:href="@{/products/{id}(id=${cardProductDTO.id})}"
         class="text-decoration-none card-title-link">
        <h5 class="card-title mb-0" th:text="${cardProductDTO.title}"></h5>
      </a>
    </div>
    
    <div class="card-body">
      <div class="row g-3 align-items-start">
        
        <div class="row g-3 align-items-center flex-column flex-md-row">
          
          <div class="col-md-9 d-none d-md-block">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2">
              <p class="mb-1 fw-semibold text-muted" th:if="${cardProductDTO.mainCreators != null}"
                 th:text="${cardProductDTO.mainCreators}"></p>
              
              <div th:if="${cardProductDTO.releaseYear != null}" class="text-muted small">
                <i class="bi bi-calendar2 me-1"></i>
                <span th:text="${cardProductDTO.releaseYear}"></span>
              </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="text-uppercase small fs-6"
                  th:text="${cardProductDTO.productType}"></div>
              
              <div th:if="${cardProductDTO.productLinkToEmedia != null}">
                <a th:href="${cardProductDTO.productLinkToEmedia}" target="_blank"
                   class="link-primary small d-inline-flex align-items-center gap-1">
                  <i class="bi bi-link-45deg"></i> E-Medium
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center text-md-end">
            <img th:src="${cardProductDTO.photo}"
                 class="rounded"
                 alt="Book cover"
                 style="width: 100px; height: 150px; object-fit: contain;"
                 th:attr="onerror=|this.onerror=null; this.src='${cardProductDTO.defaultPhoto}?v=1';|">
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <!-- Accordion -->
      <div class="accordion" th:id="'accordionProduct__' + ${cardProductDTO.id}">
        <div class="accordion-item">
          <h2 class="accordion-header" th:id="'headerLibrary__' + ${cardProductDTO.id}">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    th:data-bs-target="'#collapseLibrary__' + ${cardProductDTO.id}"
                    th:aria-controls="'collapseLibrary__' + ${cardProductDTO.id}"
                    th:text="'Available in ' + ${cardProductDTO.locations.size()} + ' ' + (${cardProductDTO.locations.size() == 1} ? 'library' : 'libraries')">
              Locations
            </button>
          </h2>
          <div class="accordion-collapse collapse"
               th:id="'collapseLibrary__' + ${cardProductDTO.id}"
               th:attr="aria-labelledby='headerLibrary__' + ${cardProductDTO.id}">
            <div class="accordion-body">
              <div th:each="location : ${cardProductDTO.locations}">
                <p
                  th:text="${location.district} + ': ' + ${location.libraryName} + ', available items: ' + ${location.itemsCount}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

